.footer{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    //font-size: .8em;

    &__item{
        display: block;
        &__image{
            display: block;
            margin-right: 20px;
            width: auto;
        }
        &--qr{
            width: 120px;
            height: auto;
        }
        &__list{
            font-family: sans-serif;
            font-weight: bold;
            a{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            li{
                display: inline-block;
            }
            *:not(:last-child){
                &:after{
                    content: ' /';
                    color: grey;
                }
            }
        }        
    }
    @media screen and (max-width: $break) {  
        // align-items: center;
        // justify-content: center;
    }
}