* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.6;    
}

body, html{    
    font-size: 1.1em;   
    font-family: serif;    
}

ul, ol{
    list-style-type: none;
}

p{
    &:not(:last-child){
        margin-bottom: $gutter;
    } 
}

a{
    color: $blue;
    &:hover{
        text-decoration: none;
    }
}

h1{
    font-size: 2.6em;
    line-height: 1.1;
}

h2{
    line-height: 1.4;
}

@for $index from 1 through 6 {
    h#{$index}{      
      font-family: sans-serif;
      letter-spacing: -.6px;
    }
}  

.vcard{
    width: 120px;
    height: auto;
    display: block;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.hero{
    background: url(/assets/images/me.jpg);
    background-position: center;
    background-size: cover;
    height: 36vw;
}


@media screen and (max-width: $break) {  
    article{
        padding: $gutter;
    }
    .hero{        
        height: 100vw;
    }
    .headline{       
        font-size: .7em;
    }
}