* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.6;    
}

[v-cloak]{
    display: none;
}

body, html{    
    font-size: 1.1em;   
    font-family: serif;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol{
    list-style-type: none;
}

p{
    &:not(:last-child){
        margin-bottom: $gutter;
    } 
}

a{
    color: $blue;
    &:hover{
        text-decoration: none;
    }
}

h1{
    font-size: 2.6em;
    line-height: 1.1;
}

h2{
    line-height: 1.4;
}

@for $index from 1 through 6 {
    h#{$index}{      
      font-family: sans-serif;
      letter-spacing: -.6px;
    }
}  

.type{
    @for $index from 1 through 6 {
        h#{$index}{      
            margin-bottom: $gutter;
        }
    }  
}

img{
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: $break) {  
    article{
        padding: $gutter;
    }    
    .headline{       
        font-size: .7em;
    }
}

.contents{  
    // border: solid 4px #ccc;
    padding: $gutter/2;
    font-family: sans-serif;  
    &__u{
        padding: $gutter/4 $gutter/2;
    }
    @media screen and (min-width: $break) { 
        display: flex;
        flex-wrap: wrap; 
        &__u{
            width: 33.33%;
            max-width: 33.33%;
        
        }
    }
}

.anchor{
    &:hover{
        &:before{
            content: '# ';
            color: $grey;
            position: absolute;
            margin-left: -22px;
        }
    }
}