.grid{
    @media screen and (min-width: $break) {
        
        display: grid;

        grid-template-columns: 10% auto auto auto 10%;    

        &--cv{
            grid-template-columns: 10% 20% 15% auto 10%;    
        }
        
        margin: $gutter*5 0;    
        gap: $gutter*5 $gutter;

        &__unit{        
            &--2-3{            
                grid-column: 2 / 3;
            }
            &--3-5{            
                grid-column: 3 / 5; 
            }
            &--3-4{            
                grid-column: 3 / 4; 
            }
            &--4-5{            
                grid-column: 4 / 5; 
            }
            &--2-5{            
                grid-column: 2 / 5; 
            }  
            &--2-4{            
                grid-column: 2 / 4; 
            }        
        }
    }
}