@mixin hgrid($columns, $gap, $break) {

    display: grid;
    grid-template-columns: repeat($columns, 1fr);   
    gap: $gap;

    &__u{   
        
        grid-column: span $columns; 

        @media only screen and (min-width : $break) {  

            @for $j from 1 through ($columns+1) {
                &--span-#{$j}{
                    grid-column: span $j;
                }
            }  

                
            @if ($columns % 3 > 0){
                @warn "Columns not divisible by 3, therefore no thirds modifier alias";                
            } @else {
                &--thd{
                    grid-column: span ($columns / 3);
                }
                &--2-thds{
                    grid-column: span (($columns / 3) * 2);
                }
            }

            @if ($columns % 4 > 0){
                @warn "Columns not divisible by 4, therefore no quarters modifier alias";                
            } @else {
                &--qtr{
                    grid-column: span ($columns / 4);
                }
                &--3-qtrs{
                    grid-column: span (($columns / 4) * 3);
                }
            }

            @if ($columns % 2 > 0){
                @warn "Columns not divisible by 2, therefore no halves modifier alias";                
            } @else {
                &--hlf{
                    grid-column: span ($columns / 2);
                }
            }            

            &--ful{
                grid-column: span $columns;
            }
        }
    }
}

/////////

// .h-grid{
//     @include hgrid(12,20px,400px);
// }
