@import "vars";
@import "globals";
@import "hgrid";
@import "utilities";
@import "menu";
@import "footer";

.section{
    padding: 8vw;
}

.card{
    display: flex;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    &--grey{
        background: #eee;
        border: solid 3px #ccc;
        font-size: .8rem;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
    }
}

.hg{    
    @include hgrid(12, 20px, $break, true);
    @media only screen and (min-width : $break) {  
        &--bigger-gap{
            gap: 8vw 20px;
        }
        &--complex{
            grid-template-columns: repeat(3, 1fr);           
        }
    }
}

@media (prefers-color-scheme: dark) {

}
  
@media (prefers-color-scheme: light) {

}