
    
    <div class="footer__item">
        <ul class="footer__item__list">
            {% for link in menus.main %}
                <li><a href="{{ link.path }}">{{ link.label }}</a></li>
            {% endfor %}
        </ul>  
        <p class="u-grey"><em>Last update {{ last_updated | format_date }}</em></p>
    </div>

        <a class="footer__item u-no-mobile" target="_blank" href="/holla">
            {% include "partials/qr.svg" %}</a>
        {# <a class="footer__item" target="_blank" href="https://beat.rehab/">
            <img class="footer__item__image" alt="Beat Rehab Logo" src="/assets/images/br.png" /></a>
        <div class="footer__item">
            <img class="footer__item__image" alt="Stay Rad!" src="/assets/images/sr.png" /></div> #}



