<footer class="grid__unit grid__unit--1-4 u-mobile-hr">
    <div class="footer">

        <ul class="footer__item__list">
            {% for link in menus.main %}
                <li><a href="{{ link.path }}">{{ link.label }}</a></li>
            {% endfor %}
        </ul>  

        <a class="u-no-mobile" target="_blank" href="/holla">
            {% include "partials/qr.svg" %}</a>
        {# <a class="footer__item" target="_blank" href="https://beat.rehab/">
            <img class="footer__item__image" alt="Beat Rehab Logo" src="/assets/images/br.png" /></a>
        <div class="footer__item">
            <img class="footer__item__image" alt="Stay Rad!" src="/assets/images/sr.png" /></div> #}

        {# <ul class="footer__item u-mobile-only">
            <li><a href="tel:07771535355">07771 535355</a></li>
            <li><a href="mailto:nick@clarkson.io">nick@clarkson.io</a></li>
        </ul> #}

    </div>
</footer>