<footer class="grid__unit grid__unit--2-5 u-mobile-hr">
    <p><img class="vcard" alt="vcard" src="/assets/images/vcard.png" /></p>

    {# <ul>
        {% for link in menus.main %}
            <li class="u-inline"><a href="{{ link.path }}">{{ link.label }}</a></li>
        {% endfor %}
    </ul>   #}

    <p class="u-grey"><em>Last update / <time datetime="{{ last_updated }}">{{ last_updated | format_date }}</time></em></p>                

</footer>