<!DOCTYPE html>
<html class="u-bg-grey" lang="en-GB">
    <head>
        {% include 'partials/head.twig' %}        
    </head>
    <body>
        {% block yield %}
        {% endblock %}
        <footer class="section footer">
            {% include "partials/footer.twig" %}
        </footer>
    </body>
</html>