* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.6; }

[v-cloak] {
  display: none; }

body, html {
  font-size: 1.1em;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul, ol {
  list-style-type: none; }

p:not(:last-child) {
  margin-bottom: 20px; }

a {
  color: #007bff; }
  a:hover {
    text-decoration: none; }

h1 {
  font-size: 2.6em;
  line-height: 1.1; }

h2 {
  line-height: 1.4; }

h1 {
  font-family: sans-serif;
  letter-spacing: -.6px; }

h2 {
  font-family: sans-serif;
  letter-spacing: -.6px; }

h3 {
  font-family: sans-serif;
  letter-spacing: -.6px; }

h4 {
  font-family: sans-serif;
  letter-spacing: -.6px; }

h5 {
  font-family: sans-serif;
  letter-spacing: -.6px; }

h6 {
  font-family: sans-serif;
  letter-spacing: -.6px; }

.type h1 {
  margin-bottom: 20px; }
.type h2 {
  margin-bottom: 20px; }
.type h3 {
  margin-bottom: 20px; }
.type h4 {
  margin-bottom: 20px; }
.type h5 {
  margin-bottom: 20px; }
.type h6 {
  margin-bottom: 20px; }

img {
  display: block;
  width: 100%;
  height: auto; }

@media screen and (max-width: 800px) {
  article {
    padding: 20px; }

  .headline {
    font-size: .7em; } }
.contents {
  padding: 10px;
  font-family: sans-serif; }
  .contents__u {
    padding: 5px 10px; }
  @media screen and (min-width: 800px) {
    .contents {
      display: flex;
      flex-wrap: wrap; }
      .contents__u {
        width: 33.33%;
        max-width: 33.33%; } }

.anchor:hover:before {
  content: '# ';
  color: #666666;
  position: absolute;
  margin-left: -22px; }

.hf {
  display: flex; }
  .hf--center {
    align-items: center; }
  .hf--middle {
    justify-content: center; }
  .hf--space {
    justify-content: space-between; }
  .hf__u--self-end {
    align-self: flex-end; }

.u-grey {
  color: #666666; }
.u-inline {
  display: inline; }
.u-mobile-only {
  display: none; }
.u-bg-white {
  background-color: #fff; }
.u-bg-grey {
  background-color: #eee; }
.u-bg-yellow {
  background-color: #F8E71C; }
.u-bg-black {
  background-color: #111; }
.u-bigger {
  font-size: 1.4em; }
.u-i {
  font-style: italic; }
.u-pull-right {
  text-align: right; }
.u-pull-left {
  text-align: left; }
@media screen and (max-width: 800px) {
  .u-bigger {
    font-size: 1.1em; }
  .u-mobile-hr {
    margin-bottom: 20px; }
  .u-mobile-only {
    display: block; }
  .u-mobile-small {
    font-size: .7em; }
  .u-no-mobile {
    display: none; } }

.section {
  padding: 8vw; }
  .section--no-top {
    padding-top: 0; }
  .section--no-bottom {
    padding-bottom: 0; }
  @media only screen and (min-width: 800px) {
    .section--half-top {
      padding-top: 4vw; }
    .section--half-bottom {
      padding-bottom: 4vw; } }

.nav {
  font-family: sans-serif;
  font-weight: bold; }
  .nav a {
    text-decoration: none; }
    .nav a:hover {
      text-decoration: underline; }
  .nav--inline li {
    display: inline-block; }
  .nav--inline *:not(:last-child):after {
    content: ' /';
    color: grey; }

.main-nav {
  padding: 10px 8vw; }
  .main-nav a {
    color: #fff; }

.card {
  display: flex;
  min-height: 60px;
  justify-content: center;
  align-items: center; }
  .card--grey {
    background: #eee;
    border: solid 3px #ccc;
    font-size: .8rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative; }

.hero {
  display: block;
  height: 20vw;
  background-image: url(/assets/images/flash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.hg {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px; }
  .hg__u {
    grid-column: span 12; }
    @media only screen and (min-width: 800px) {
      .hg__u--span-1 {
        grid-column: span 1; }
      .hg__u--start-1 {
        grid-column-start: 1; }
      .hg__u--end-1 {
        grid-column-end: 1; }
      .hg__u--span-2 {
        grid-column: span 2; }
      .hg__u--start-2 {
        grid-column-start: 2; }
      .hg__u--end-2 {
        grid-column-end: 2; }
      .hg__u--span-3 {
        grid-column: span 3; }
      .hg__u--start-3 {
        grid-column-start: 3; }
      .hg__u--end-3 {
        grid-column-end: 3; }
      .hg__u--span-4 {
        grid-column: span 4; }
      .hg__u--start-4 {
        grid-column-start: 4; }
      .hg__u--end-4 {
        grid-column-end: 4; }
      .hg__u--span-5 {
        grid-column: span 5; }
      .hg__u--start-5 {
        grid-column-start: 5; }
      .hg__u--end-5 {
        grid-column-end: 5; }
      .hg__u--span-6 {
        grid-column: span 6; }
      .hg__u--start-6 {
        grid-column-start: 6; }
      .hg__u--end-6 {
        grid-column-end: 6; }
      .hg__u--span-7 {
        grid-column: span 7; }
      .hg__u--start-7 {
        grid-column-start: 7; }
      .hg__u--end-7 {
        grid-column-end: 7; }
      .hg__u--span-8 {
        grid-column: span 8; }
      .hg__u--start-8 {
        grid-column-start: 8; }
      .hg__u--end-8 {
        grid-column-end: 8; }
      .hg__u--span-9 {
        grid-column: span 9; }
      .hg__u--start-9 {
        grid-column-start: 9; }
      .hg__u--end-9 {
        grid-column-end: 9; }
      .hg__u--span-10 {
        grid-column: span 10; }
      .hg__u--start-10 {
        grid-column-start: 10; }
      .hg__u--end-10 {
        grid-column-end: 10; }
      .hg__u--span-11 {
        grid-column: span 11; }
      .hg__u--start-11 {
        grid-column-start: 11; }
      .hg__u--end-11 {
        grid-column-end: 11; }
      .hg__u--span-12 {
        grid-column: span 12; }
      .hg__u--start-12 {
        grid-column-start: 12; }
      .hg__u--end-12 {
        grid-column-end: 12; }
      .hg__u--span-13 {
        grid-column: span 13; }
      .hg__u--start-13 {
        grid-column-start: 13; }
      .hg__u--end-13 {
        grid-column-end: 13; }
      .hg__u--thd {
        grid-column: span 4; }
      .hg__u--2-thds {
        grid-column: span 8; }
      .hg__u--qtr {
        grid-column: span 3; }
      .hg__u--3-qtrs {
        grid-column: span 9; }
      .hg__u--hlf {
        grid-column: span 6; }
      .hg__u--ful {
        grid-column: span 12; } }
  @media only screen and (min-width: 800px) {
    .hg--bigger-gap {
      gap: 8vw 20px; }
    .hg--complex {
      grid-template-columns: repeat(3, 1fr); } }

.qr {
  width: 80px;
  height: 80px; }

/*# sourceMappingURL=style.css.map */
