{% extends "layouts/base.twig" %}
{% block yield %}
    {% block hero %}{% endblock %}    
    <section class="section hg hg--bigger-gap">   
        {% block content %}
            <div class="hg__u hg__u--ful">
                {{ content | markdown | raw }}
            </div>
        {% endblock %}       
    </section>
{% endblock %}