{% extends "layouts/base.twig" %}
{% block yield %}

    <section class="section hg">
        <div class="hg__u hg__u--ful card headline"><h1>CSS Grid Examples</h1></div>
        <div class="hg__u hg__u--ful card"><em>Twelve column grid span modifiers</em></div>
        <div class="hg__u hg__u--span-12 card card--grey">span-12</div>
        {% for i in 1..11 %}                
            <div class="hg__u hg__u--span-{{ i }} card card--grey">span-{{ i }}</div> 
            <div class="hg__u hg__u--span-{{ 12 - i }} card card--grey">span-{{ 12 - i }}</div>                                
        {% endfor %}
        <div class="hg__u hg__u--ful card"><em>Twelve column grid alias modifiers</em></div>
        <div class="hg__u hg__u--ful card card--grey">ful</div>
        <div class="hg__u hg__u--thd card card--grey">thd</div>
        <div class="hg__u hg__u--2-thds card card--grey">2-thds</div> 
        <div class="hg__u hg__u--qtr card card--grey">qtr</div>
        <div class="hg__u hg__u--3-qtrs card card--grey">3-qtrs</div>
        <div class="hg__u hg__u--hlf card card--grey">hlf</div>
        <div class="hg__u hg__u--hlf card card--grey">hlf</div>


        <div class="hg__u hg__u--ful card"><em>Complex nesting with 3 columns</em></div>
        <article class="hg__u hg__u--ful hg hg--complex">
            <header class="hg__u hg__u--span-3 card card--grey">
                Header
            </header>
            <menu class="hg__u hg__u--span-1 card card--grey">
                Menu
            </menu>
            <div role="main" class="hg__u hg__u--span-2 hg hg--complex">
                <div class="hg__u hg__u--span-1 card card--grey">span-1</div>
                <div class="hg__u hg__u--span-1 card card--grey">span-1</div>
                <div class="hg__u hg__u--span-1 card card--grey">span-1</div>
                <div class="hg__u hg__u--span-2 card card--grey">span-2</div>
                <div class="hg__u hg__u--span-1 card card--grey">span-1</div>
                <div class="hg__u hg__u--span-1 card card--grey">span-1</div>
                <div class="hg__u hg__u--span-2 card card--grey">span-2</div>
                <div class="hg__u hg__u--span-3 card card--grey">span-3</div>
                <div class="hg__u hg__u--span-3 card card--grey">span-3</div>
            </div> 
            <header class="hg__u hg__u--span-3 card card--grey">
                Footer
            </header> 
        </article>


        <div class="hg__u hg__u--ful card"><em>Mixin and SASS implementation</em></div>
        <div class="hg__u hg__u--ful"><script src="https://gist.github.com/netotaku/05951a783f0b6066114c1376f602fbbf.js"></script></div>

    </section>

{% endblock %}
